# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*

# Jupyter (ถ้ามีใช้ notebook)
.ipynb_checkpoints

# VSCode
.vscode/

# Data
*.parquet
data/

# Docker
*.log

# Streamlit cache
.streamlit/

# System
.DS_Store
Thumbs.db
